:root {
  --dark-shade0: rgb(42, 32, 33);
  --dark-shade0-r: 42;
  --dark-shade0-g: 32;
  --dark-shade0-b: 33;

  --dark-shade1: rgb(70, 61, 62);
  --dark-shade1-r: 70;
  --dark-shade1-g: 61;
  --dark-shade1-b: 62;

  --dark-shade2: rgb(98, 90, 92);
  --dark-shade2-r: 98;
  --dark-shade2-g: 90;
  --dark-shade2-b: 92;

  --dark-shade3: rgb(126, 119, 121);
  --dark-shade3-r: 126;
  --dark-shade3-g: 119;
  --dark-shade3-b: 121;

  --dark-shade4: rgb(153, 148, 150);
  --dark-shade4-r: 153;
  --dark-shade4-g: 148;
  --dark-shade4-b: 150;

  --dark-shade5: rgb(181, 177, 179);
  --dark-shade5-r: 181;
  --dark-shade5-g: 177;
  --dark-shade5-b: 179;

  --dark-shade6: rgb(209, 206, 209);
  --dark-shade6-r: 209;
  --dark-shade6-g: 206;
  --dark-shade6-b: 209;

  --dark-shade7: rgb(237, 235, 238);
  --dark-shade7-r: 237;
  --dark-shade7-g: 235;
  --dark-shade7-b: 238;

  --dark-accent0: rgb(198, 89, 103);
  --dark-accent0-r: 198;
  --dark-accent0-g: 89;
  --dark-accent0-b: 103;

  --dark-accent1: rgb(211, 135, 59);
  --dark-accent1-r: 211;
  --dark-accent1-g: 135;
  --dark-accent1-b: 59;

  --dark-accent2: rgb(229, 190, 49);
  --dark-accent2-r: 229;
  --dark-accent2-g: 190;
  --dark-accent2-b: 49;

  --dark-accent3: rgb(151, 181, 90);
  --dark-accent3-r: 151;
  --dark-accent3-g: 181;
  --dark-accent3-b: 90;

  --dark-accent4: rgb(118, 163, 119);
  --dark-accent4-r: 118;
  --dark-accent4-g: 163;
  --dark-accent4-b: 119;

  --dark-accent5: rgb(100, 132, 181);
  --dark-accent5-r: 100;
  --dark-accent5-g: 132;
  --dark-accent5-b: 181;

  --dark-accent6: rgb(153, 87, 133);
  --dark-accent6-r: 153;
  --dark-accent6-g: 87;
  --dark-accent6-b: 133;

  --dark-accent7: rgb(172, 113, 85);
  --dark-accent7-r: 172;
  --dark-accent7-g: 113;
  --dark-accent7-b: 85;

  --light-shade0: rgb(237, 235, 238);
  --light-shade0-r: 237;
  --light-shade0-g: 235;
  --light-shade0-b: 238;

  --light-shade1: rgb(209, 206, 209);
  --light-shade1-r: 209;
  --light-shade1-g: 206;
  --light-shade1-b: 209;

  --light-shade2: rgb(181, 177, 179);
  --light-shade2-r: 181;
  --light-shade2-g: 177;
  --light-shade2-b: 179;

  --light-shade3: rgb(153, 148, 150);
  --light-shade3-r: 153;
  --light-shade3-g: 148;
  --light-shade3-b: 150;

  --light-shade4: rgb(126, 119, 121);
  --light-shade4-r: 126;
  --light-shade4-g: 119;
  --light-shade4-b: 121;

  --light-shade5: rgb(98, 90, 92);
  --light-shade5-r: 98;
  --light-shade5-g: 90;
  --light-shade5-b: 92;

  --light-shade6: rgb(70, 61, 62);
  --light-shade6-r: 70;
  --light-shade6-g: 61;
  --light-shade6-b: 62;

  --light-shade7: rgb(42, 32, 33);
  --light-shade7-r: 42;
  --light-shade7-g: 32;
  --light-shade7-b: 33;

  --light-accent0: rgb(186, 57, 74);
  --light-accent0-r: 186;
  --light-accent0-g: 57;
  --light-accent0-b: 74;

  --light-accent1: rgb(211, 131, 63);
  --light-accent1-r: 211;
  --light-accent1-g: 131;
  --light-accent1-b: 63;

  --light-accent2: rgb(186, 153, 26);
  --light-accent2-r: 186;
  --light-accent2-g: 153;
  --light-accent2-b: 26;

  --light-accent3: rgb(120, 153, 42);
  --light-accent3-r: 120;
  --light-accent3-g: 153;
  --light-accent3-b: 42;

  --light-accent4: rgb(80, 155, 107);
  --light-accent4-r: 80;
  --light-accent4-g: 155;
  --light-accent4-b: 107;

  --light-accent5: rgb(72, 90, 159);
  --light-accent5-r: 72;
  --light-accent5-g: 90;
  --light-accent5-b: 159;

  --light-accent6: rgb(129, 61, 114);
  --light-accent6-r: 129;
  --light-accent6-g: 61;
  --light-accent6-b: 114;

  --light-accent7: rgb(161, 104, 79);
  --light-accent7-r: 161;
  --light-accent7-g: 104;
  --light-accent7-b: 79;
}
