---
title: Witnesses of the Book of Mormon
type: presentation
description: Written and video testimonies of some of the special witnesses of the Book of Mormon, as well as questions pertaining to our relationship with the sacred work.
date: 2014-05-11 13:00:00
for: Elders Quorum
at: LDS Church (Orem, UT)
---
{% comment %}
Subtopics and Ideas:
- Stressing the benefit of the Book of Mormon  (Introduction to lesson)
  - Lehi's vision (1 Nephi 1:7-11)
  - Elder Scott (2 min)
  - JFS's admonition to read it
- Strengthening our relationship with the Book of Mormon
  - Read: in tune with the musicality of faith.
  - Pairs: Share your favorite part of the Book of Mormon and why you feel that way about it.
  - Q: What are some specific ways we can endear the BoM to us?
- Witnesses
  - David Whitmer (3 min)
  - Q: How could the witnesses fall away? And how can we avoid doing so? (10 min)
  - Joseph Fielding Smith (3 min)
  - Elder Holland (6 min)
  - Volunteer testimonies (3 min)
{% endcomment %}
<!DOCTYPE html>
<html>
<head>
  <title>Witnesses of the Book of Mormon</title>
  <link rel="stylesheet" href="css/styles.css">
  {% if site.safe %}
  {% include analytics.html %}
  {% endif %}
</head>
<body>
  <div id="impress">
    <div id="title" class="step" data-scale="3" data-rotate-x="-20">
      <h1>Witnesses of the Book of Mormon</h1>
      <span class="subtitle">Chapter 9, <em>Teachings of the Presidents of the Church: Joseph Fielding Smith</em></span>
    </div>
    <div id="intro" class="step" data-x="-1440" data-y="1440" data-z="-20" data-rotate-y="-10">
      <blockquote cite="https://www.lds.org/general-conference/2014/04/i-have-given-you-an-example">
        <p>As you consistently focus your life on the most basic principles, you will gain an understanding of what you are to do, and you will produce more fruit for the Lord and more happiness for yourself.</p>
      </blockquote>
      <div class="attribution">From <a href="https://www.lds.org/general-conference/2014/04/i-have-given-you-an-example" target="_blank">"I Have Given You an Example"</a> by Elder Richard G. Scott, April 2014 General Conference</div>
    </div>
    <div id="favorite-part" class="step" data-y="1440">
      <p>What is your favorite part of the Book of Mormon?</p>
      <p>Why?</p>
    </div>
    <div id="endearing" class="step" data-x="1440" data-y="1440" data-z="-20" data-rotate-y="20">
      <p>What are some specific ways we can grow our love for the Book of Mormon?</p>
    </div>
    <div id="david-whitmer-1" class="step" data-x="-1440" data-y="2880" data-z="-20" data-rotate-y="-20">
      <p class="quote">Quote:</p>
      <blockquote>
        <p>Unto all nations, kindreds, tongues and people unto whom these presence shall come&mdash;</p>
      </blockquote>
      <span class="arrow-down">down</span>
    </div>
    <div id="david-whitmer-2" class="step" data-x="-1440" data-y="4320" data-z="-20" data-rotate-y="-20">
      <blockquote>
        <p>It having been represented by one John Murphy of Polo [Caldwell County], Missouri, that I had in a conversation with him last summer, denied my testimony as one of the three witnesses to the Book of Mormon&mdash;</p>
      </blockquote>
      <span class="arrow-down">down</span>
    </div>
    <div id="david-whitmer-3" class="step" data-x="-1440" data-y="5760" data-z="-20" data-rotate-y="-20">
      <blockquote>
        <p>To the end thereof, that he may understand me now if he did not then, and that the world may know the truth, I wish now, standing as it were, in the very sunset of life, and in the fear of God, once for all to make this public statement:</p>
      </blockquote>
      <span class="arrow-down">down</span>
    </div>
    <div id="david-whitmer-4" class="step" data-x="-1440" data-y="7200" data-z="-20" data-rotate-y="-20">
      <blockquote>
        <p>That I have never at any time, denied that testimony or any part thereof, which has so long since been published with that book, as one of the three witnesses.</p>
      </blockquote>
      <span class="arrow-down">down</span>
    </div>
    <div id="david-whitmer-5" class="step" data-x="-1440" data-y="8640" data-z="-20" data-rotate-y="-20">
      <blockquote>
        <p>Those who know me best, will know that I have always adhered to that testimony&mdash;And that no man may be misled or doubt my present views in regard to the same, I do now again affirm the truth of all my statements as then made and published.</p>
      </blockquote>
      <div class="attribution">&mdash;David Whitmer</div>
    </div>
    <div id="fall-away" class="step" data-y="2880">
      <p>Though the special witnesses never denied their testimonies of the Book of Mormon, how could they fall away from the Church?</p>
      <p>(And how can we avoid doing so?)</p>
    </div>
    <div id="joseph-fielding-smith-1" class="step" data-x="1440" data-y="2880" data-z="-20" data-rotate-y="20">
      <p class="quote">Quote:</p>
      <blockquote>
        <p>I am just as firmly convinced that this Book of Mormon from which I have read is the word of God and was revealed, as Joseph Smith declared it was revealed, as I am that I stand here looking into your faces. Every soul on the face of the earth who has intelligence enough to understand may know that truth.</p>
      </blockquote>
      <span class="arrow-down">down</span>
    </div>
    <div id="joseph-fielding-smith-2" class="step" data-x="1440" data-y="4320" data-z="-20" data-rotate-y="20">
      <blockquote>
        <p>How can he know it? All he has to do is to follow the formula that was given by the Lord himself when he declared to the Jews that they who would do the will of his Father should know of the doctrine, whether it was of God or whether he spoke of himself (see <a href="https://www.lds.org/scriptures/nt/john/7.17" target="_blank">John 7:17</a>).</p>
      </blockquote>
      <span class="arrow-down">down</span>
    </div>
    <div id="joseph-fielding-smith-3" class="step" data-x="1440" data-y="5760" data-z="-20" data-rotate-y="20">
      <blockquote>
        <p>My witness to all the world is that this book is true.</p>
      </blockquote>
      <div class="attribution">&mdash;Joseph Fielding Smith</div>
    </div>
    <div id="elder-jeffrey-r-holland" class="step" data-y="10080" data-scale="3">
      <p>Elder Jeffrey R. Holland: <a href="https://www.lds.org/general-conference/2009/10/safety-for-the-soul" target="_blank">Safety for the Soul</a></p>
    </div>
    <div id="conclusion" class="step" data-y="12960" data-z="40" data-scale="3" data-rotate-x="20">
      <p>We can all be witnesses to the Book of Mormon.</p>
      <p>(See <a href="https://www.lds.org/scriptures/bofm/moro/10.3-5" target="_blank">Moroni 10:3-5</a>.)</p>
    </div>
    <!-- <div id="fin" class="step" data-y="6480" data-scale="15"></div> -->
  </div>
  <script src="../impress-0.5.3.js"></script>
  <script>impress().init();</script>
</body>
</html>
