---
layout: thin
title: mjswensen.com
sitemap:
  priority: 1.0
  changefreq: weekly
---

<section class="home">
  {% include logo.svg %}
  <h1 class="name">Matt Swensen</h1>
  <p>I'm passionate about programming the Web.</p>
  <p>I'm a husband, father, <a href="http://mormon.org/me/3KNR">Mormon</a>, and full-stack engineer for <a href="https://www.golucid.co/">Lucid Software</a>.</p>
</section>
<section class="posts">
  <h2>Posts</h2>
  {% include postlist.html limit=3 %}
  <a class="all-posts" href="/blog/">All posts</a>
</section>
<section class="projects">
  <h2>Projects</h2>
  {% include projectlist.html limit=3 %}
  <a class="all-projects" href="/projects/">All projects</a>
</section>
<section class="presentations">
  <h2>Presentations</h2>
  {% include presentationlist.html limit=3 %}
  <a class="all-presentations" href="/presentations/">All presentations</a>
</section>
<section class="picks">
  <h2>Picks</h2>
  {% include picklist.html limit=3 %}
</section>
