---
layout: thin
title: mjswensen.com
sitemap:
  priority: 1.0
  changefreq: monthly
---

<section class="home">
  {% include logo.svg %}
  <h1 class="name">Matt Swensen</h1>
  <p>I'm passionate about programming the Web.</p>
  <p>I'm a husband, father, <a href="http://mormon.org/me/3KNR">Mormon</a>, and front-end engineer for <a href="http://www.golucid.co">Lucid Software</a>.</p>
  <nav class="social">
    <a href="#TODO" class="twitter">twitter</a>
    <a href="#TODO" class="github">github</a>
    <a href="#TODO" class="linkedin">linkedin</a>
  </nav>
</section>
<hr>
<section class="recent-posts">
  <h2><i>blog</i> Recent Posts</h2>
  {% include postlist.html limit=3 %}
  <a class="all-posts" href="/blog/">All posts <i>next</i></a>
</section>
<hr>
<section class="projects">
  <h2><i>projects</i> Projects</h2>
  <ul>
    {% for page in site.pages %}
      {% if page.type == 'project' %}
      <li>
        <a href="{{ page.externalUrl }}">
          {{ page.title }}
          {% if page.openSource %}
          <sup>Open Source</sup>
          {% endif %}
        </a>
        <p>{{ page.description }}</p>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
<hr>
<section class="presentations">
  <h2><i>presentations</i> Presentations</h2>
  <ul>
    {% for page in site.pages %}
      {% if page.type == 'presentation' %}
      <li>
        <a href="{{ page.url }}">"{{ page.title }}"</a>
        <p>{{ page.description }}</p>
        <div class="metadata"><time timestamp="{{ page.date }}">{{ page.date | date_to_string }}</time>, {{ page.for }}, {{ page.at }}</div>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
