---
title: HTML/CSS Fundamentals
type: presentation
description: Introductory class for DevMountain code school.
date: 2015-10-13 09:30:00
for: DevMountain
at: DevMountain Campus
location: Provo, UT
---

<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>HTML/CSS Fundamentals • DevMountain</title>

    <meta name="description" content="Introductory class for DevMountain code school.">
    <meta name="author" content="Matt Swensen">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/css/reveal.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/presentations/devmountain-html-css-fundamentals/css/devmountain-html-css-fundamentals-theme.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/lib/css/zenburn.min.css">

    <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/css/print/pdf.min.css' : 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/css/print/paper.min.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/lib/js/html5shiv.min.js"></script>
    <![endif]-->

    <!-- Presentation-specific styles -->
    <link rel="stylesheet" href="{{ site.baseurl }}/presentations/devmountain-html-css-fundamentals/css/devmountain-html-css-fundamentals.css">

    {% if site.safe %}
    {% include analytics.html %}
    {% endif %}

  </head>

  <body>
    <div class="reveal">
      <div class="slides">

        <section data-markdown>
          <script type="text/template">
            # HTML/CSS Fundamentals

            DevMountain • 13 October 2015
          </script>
        </section>

        <section data-markdown>
          <script type="text/template">
            ## Agenda

            1. What is HTML?
            2. Intro to HTML elements
            3. What is CSS?
            4. CSS basics
          </script>
        </section>

        <section>
          <section data-markdown>
            <script type="text/template">
              ## HTML

              HTML stands for **Hypertext Markup Language.**
            </script>
          </section>
          <section data-markdown>
            <script type="text/template">
              ...what?
            </script>
          </section>
          <section data-markdown>
            <script type="text/template">
              ![Sample resume for visual parsing]({{ site.baseurl }}/presentations/devmountain-html-css-fundamentals/img/resume.png)
            </script>
          </section>
          <section data-markdown>
            <script type="text/template">
              HTML allows web browsers and search engines to understand the structure of a document.
            </script>
          </section>
          <section data-markdown>
            <script type="text/template">
              HTML, therefore, provides the basic structure of the *content* of our web page.
            </script>
          </section>
          <section>
            <p>Here's some example HTML:</p>
            <pre><code class="html" data-trim>
              &lt;article&gt;&NewLine;  &lt;header&gt;&NewLine;    &lt;h1&gt;Are Fats Unhealthy? The Battle Over Dietary Guidelines&lt;/h1&gt;&NewLine;  &lt;/header&gt;&NewLine;  &lt;p&gt;People are passionate about food.&lt;/p&gt;&NewLine;&lt;/article&gt;
            </code></pre>
            <aside class="notes">Point out the structure and syntax of HTML here. Just a few more points to make before we try it out ourselves.</aside>
          </section>
          <section>
            <p>With HTML5, we have a lot of elements to choose from.</p>
            <p class="fragment">Our goal is to mark up our content <em>semantically</em>.</p>
          </section>
          <section>
            <p>Not semantic:</p>
            <pre><code class="html" data-trim>
              &lt;div&gt;&NewLine;  &lt;a href=&quot;#&quot;&gt;Link&lt;/a&gt;&NewLine;  &lt;a href=&quot;#&quot;&gt;Link&lt;/a&gt;&NewLine;  &lt;a href=&quot;#&quot;&gt;Link&lt;/a&gt;&NewLine;&lt;/div&gt;&NewLine;&lt;div&gt;&NewLine;  &lt;div&gt;&NewLine;    &lt;div&gt;Some heading&lt;/div&gt;&NewLine;  &lt;/div&gt;&NewLine;  &lt;div&gt;&NewLine;    &lt;div&gt;Some content&lt;/div&gt;&NewLine;  &lt;/div&gt;&NewLine;  &lt;div&gt;Some more content&lt;/div&gt;&NewLine;  &lt;div&gt;Some tangential content&lt;/div&gt;&NewLine;&lt;/div&gt;
            </code></pre>
          </section>
          <section>
            <p>Semantic:</p>
            <pre><code class="html" data-trim>
              &lt;nav&gt;&NewLine;  &lt;a href=&quot;#&quot;&gt;Link&lt;/a&gt;&NewLine;  &lt;a href=&quot;#&quot;&gt;Link&lt;/a&gt;&NewLine;  &lt;a href=&quot;#&quot;&gt;Link&lt;/a&gt;&NewLine;&lt;/nav&gt;&NewLine;&lt;article&gt;&NewLine;  &lt;header&gt;&NewLine;    &lt;h1&gt;Some heading&lt;/h1&gt;&NewLine;  &lt;/header&gt;&NewLine;  &lt;section&gt;&NewLine;    &lt;p&gt;Some content&lt;/p&gt;&NewLine;  &lt;/section&gt;&NewLine;  &lt;footer&gt;Some more content&lt;/footer&gt;&NewLine;  &lt;aside&gt;Some tangential content&lt;/aside&gt;&NewLine;&lt;/article&gt;
            </code></pre>
          </section>
          <section>
            <p>Finally, here is an example basic structure of a complete HTML document:</p>
            <pre><code class="html" data-trim>
              &lt;!DOCTYPE html&gt;&NewLine;&lt;html&gt;&NewLine;  &lt;head&gt;&NewLine;    &lt;title&gt;Page title...&lt;/title&gt;&NewLine;    &lt;!-- The head is for document metadata. --&gt;&NewLine;  &lt;/head&gt;&NewLine;  &lt;body&gt;&NewLine;    &lt;!-- The body is where you put your HTML. --&gt;&NewLine;  &lt;/body&gt;&NewLine;&lt;/html&gt;
            </code></pre>
          </section>
          <section>
            <h3>Try it!</h3>
            <p>Using the following structure as a template:</p>
            <pre><code class="html" data-trim>
              &lt;!DOCTYPE html&gt;&NewLine;&lt;html&gt;&NewLine;  &lt;head&gt;&NewLine;    &lt;title&gt;Page title...&lt;/title&gt;&NewLine;    &lt;!-- The head is for document metadata. --&gt;&NewLine;  &lt;/head&gt;&NewLine;  &lt;body&gt;&NewLine;    &lt;!-- The body is where you put your HTML. --&gt;&NewLine;  &lt;/body&gt;&NewLine;&lt;/html&gt;
            </code></pre>
            <p>Create a news article document called <code>news.html</code> using at least the following elements:</p>
            <p><code>&lt;p&gt;</code>, <code>&lt;footer&gt;</code>, <code>&lt;header&gt;</code>, <code>&lt;h1&gt;</code>, <code>&lt;h2&gt;</code>, <code>&lt;h3&gt;</code></p>
          </section>
          <section data-markdown>
            <script type="text/template">
              There are [tons of HTML elements](https://developer.mozilla.org/en-US/docs/Web/HTML/Element).

              Note: Any questions about HTML at this point before we move on to CSS?
            </script>
          </section>
        </section>

        <section>
          <section data-markdown>
            <script type="text/template">
              ## CSS

              CSS stands for **Cascading Style Sheets.**

              Note: We won't go too into the "cascading" part today—that's for the advanced session later.
            </script>
          </section>
          <section data-markdown>
            <script type="text/template">
              CSS is what gives a webpage its "look and feel."

              Note: Have the students open up their solutions to the last try it to see that it's unstyled.
            </script>
          </section>
          <section>
            <p>Anatomy of CSS code:</p>
            <pre><code data-trim>
p {
  color: red;
}
            </code></pre>
            <aside class="notes">Point out the selector, the declaration block made up of property-value pairs, and the rule.</aside>
          </section>
          <section data-markdown>
            <script type="text/template">
              Let's first talk about CSS properties. There are hundreds of them!

              * `width`
              * `height`
              * `background-color`
              * `background-image`
              * `color`
              * `font-size`
              * `text-align`
              * `line-height`

              Note: These are some of the common ones, but if you can dream it, you can do it with CSS (almost).
            </script>
          </section>
          <section data-markdown>
            <script type="text/template">
              Now let's look at how we apply CSS properties to specific HTML elements. This is achieved through *selectors*.
            </script>
          </section>
          <section>
            <p>Given the following HTML:</p>
            <pre><code class="html" data-trim>
              &lt;p&gt;Introductory paragraph.&lt;/p&gt;&NewLine;&lt;p&gt;Main content.&lt;/p&gt;&NewLine;&lt;p&gt;Concluding paragraph.&lt;/p&gt;
            </code></pre>
            <p>And the following CSS:</p>
            <pre><code class="css" data-trim>
p {
  font-size: 16px;
}
            </code></pre>
            <p>All three paragraphs will have a font size of 16 pixels.</p>
          </section>
          <section data-markdown>
            <script type="text/template">
              But what if we wanted to make our first paragraph have larger text?
            </script>
          </section>
          <section data-markdown>
            <script type="text/template">
              The selector we just saw was a simple *type selector*.

              * `p` will select all paragraphs (`<p>`)
              * `a` will select all links (`<a>`)
              * `li` will select all list items (`<li>`)
              * etc.

              Note: the CSS type selector and corresponds directly to the tag.
            </script>
          </section>
          <section data-markdown>
            <script type="text/template">
              There are other types of selectors that are more specific and more powerful.

              Today we'll talk about **class** selectors and **ID** selectors.
            </script>
          </section>
          <section>
            <p>HTML:</p>
            <pre><code class="html" data-trim>
              &lt;p class=&quot;intro&quot;&gt;Introductory paragraph.&lt;/p&gt;&NewLine;&lt;p&gt;Main content.&lt;/p&gt;&NewLine;&lt;p&gt;Concluding paragraph.&lt;/p&gt;
            </code></pre>
            <p>CSS:</p>
            <pre><code class="css" data-trim>
p {
  font-size: 16px;
}

.intro {
  font-size: 20px;
}
            </code></pre>
            <aside class="notes">Point out the syntax.</aside>
          </section>
          <section data-markdown>
            <script type="text/template">
              Selector conflicts are resolved via *specificity.*

              Note: Specificity will be covered in greater detail another day, but for now: IDs are most specific, then classes, then types of the selector types we looked at today. Only *conflicting* properties of given rules are resolved this way. Any CSS questions at this point?
            </script>
          </section>
          <section data-markdown>
            <script type="text/template">
              ### Try it!

              1. Create a file called `style.css` in the same place as your `news.html` file.
              2. Add the following to the `<head>` element: `<link rel="stylesheet" href="styles.css">`
              3. Start adding some style to your news page by adding CSS rules to `style.css`

              [(CSS reference)](https://developer.mozilla.org/en-US/docs/Web/CSS/Reference)

              Note: Instruct them to refresh the page in the browser when they make changes to their source files.
            </script>
          </section>
          <section data-markdown>
            <script type="text/template">
              Just a couple more things...
            </script>
          </section>
          <section>
            <p>An element's size is calculated by using the *box model*.</p>
            <p>For a given element, like <code>&lt;p&gt;My paragraph&lt;/p&gt;</code>:</p>
            <div class="box-model">
              <div class="margin">
                <div class="border">
                  <div class="padding">
                    <div class="content">My paragraph</div>
                  </div>
                </div>
              </div>
            </div>
            <p>Try messing around with the <code>width</code>, <code>padding</code>, <code>border</code>, and <code>margin</code> properties for elements in your news articles.</p>
            <aside class="notes">
              All of these things contribute to the size and positioning of an element.
            </aside>
          </section>
          <section data-markdown>
            <script type="text/template">
              Also, try out the `float` property to push elements around.

              Note: There are lots of approaches to creating layouts with CSS, which will be covered later. One approach uses `float: left` (or `right`) and `clear` to move elements around.
            </script>
          </section>
        </section>

        <section data-markdown>
          <script type="text/template">
            ## Thank you!

            I'd love to connect with you:

            * Twitter: [@mjswensen](https://twitter.com/mjswensen)
            * LinkedIn: [/in/mjswensen](https://www.linkedin.com/in/mjswensen)
            * Online: [mjswensen.com](http://mjswensen.com)
          </script>
        </section>

      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/lib/js/head.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/js/reveal.min.js"></script>

    <script>

      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide',

        dependencies: [
          { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/lib/js/classList.min.js', condition: function() { return !document.body.classList; } },
          { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/plugin/markdown/marked.min.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/plugin/markdown/markdown.min.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/plugin/highlight/highlight.min.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/plugin/notes/notes.min.js', async: true }
        ]
      });

    </script>

  </body>
</html>
