html, body
  font-size: $base-unit
  line-height: proportion(2)
  @include serif
  color: $dark

section
  position: relative
  margin: 2rem 0 7rem
  padding: 1rem
  @media screen and (max-width: $content-width-thin)
    margin: 1rem 0

h1, h2, h3
  @include sans(true)
  color: $accent

h1
  @include fz(5)
  margin-bottom: (proportion(2) * 1rem)
  @media screen and (max-width: $content-width-thin)
    @include fz(3)

h2
  @include fz(3)
  text-transform: uppercase
  margin-bottom: (proportion(2) * 1rem)
  @media screen and (max-width: $content-width-thin)
    @include fz(2)
  i
    color: $light

h3
  @include fz(2)
  margin-bottom: 1rem
  @media screen and (max-width: $content-width-thin)
    @include fz(1)

p
  margin-bottom: 1rem

a
  text-decoration: none
  @include transit
  &:link, &:visited
    color: $accent
  &:hover
    color: lighten($accent, 10%)
  &:active
    color: lighten($accent, 15%)

em
  font-style: italic

ul, ol
  padding-left: 1em
  margin-bottom: 1rem

ul
  list-style-type: disc

ol
  list-style-type: decimal

img
  max-width: 100%
  margin-bottom: 1rem
  border-radius: $corner-radius

i
  text-transform: none
  @include icons

hr
  margin: 5rem 1rem
  border: none
  border-bottom: 1px dashed $light
  @media screen and (max-width: $content-width-thin)
    margin: 2rem 1rem

iframe
  width: 100%
  height: 400px
  margin-bottom: 1rem

blockquote
  padding-left: 1rem
  @include sans
  font-style: italic
