html, body
  font-size: $base-unit
  line-height: rhythm(false)
  @include serif
  color: $dark

section
  position: relative
  margin: 2rem 0 7rem
  padding: 1rem
  @media screen and (max-width: $content-width-thin)
    margin: 1rem 0

h1, h2, h3
  @include sans(true)
  color: $accent

h1
  @include fz(5)
  line-height: proportion(2)
  margin-bottom: (proportion(2) * 1rem)
  @media screen and (max-width: $content-width-thin)
    @include fz(3)

h2
  @include fz(3)
  text-transform: uppercase
  margin-bottom: (proportion(2) * 1rem)
  @media screen and (max-width: $content-width-thin)
    @include fz(2)
  i
    color: $light

h3
  @include fz(2)
  margin-bottom: rhythm()
  @media screen and (max-width: $content-width-thin)
    @include fz(1)

p
  margin-bottom: rhythm()
  &:last-child
    margin-bottom: 0

a
  text-decoration: none
  @include transit
  &:link, &:visited
    color: $accent
  &:hover
    color: lighten($accent, 10%)
  &:active
    color: lighten($accent, 15%)

strong
  @include serif(true)

em
  font-style: italic

ul, ol
  padding-left: 1.5em
  margin-bottom: rhythm()
  &:last-child
    margin-bottom: 0

ul
  list-style-type: disc

ol
  list-style-type: decimal

img
  max-width: 100%
  border-radius: $corner-radius
  margin-bottom: rhythm()
  &:last-child
    margin-bottom: 0

i
  text-transform: none
  @include icons

hr
  margin: (rhythm() * 3) 1rem
  border: none
  border-bottom: 1px dashed $light
  @media screen and (max-width: $content-width-thin)
    margin: 2rem 1rem

iframe
  width: 100%
  height: 400px
  margin-bottom: rhythm()
  &:last-child
    margin-bottom: 0

blockquote
  padding-left: 1rem
  @include serif(false, true)
  border-left: 3px solid $lighter
  position: relative
  overflow: hidden
  margin-bottom: rhythm()
  &:last-child
    margin-bottom: 0
  &::before
    color: $lighter
    content: "“"
    position: absolute
    font-size: 14em
    z-index: -1
    line-height: 1
    left: -2rem

table
  $table-border-style-heading: 5px solid $light
  $table-border-style-main: 1px solid $light
  width: 100%
  margin-bottom: rhythm()
  &:last-child
    margin-bottom: 0
  th
    @include sans
    text-align: left
    font-size: (1em * proportion(2))
    border-top: $table-border-style-heading
    border-bottom: $table-border-style-heading
  td
    border-bottom: $table-border-style-main
    font-size: (1em * proportion(0))
  th, td
    padding: (1rem * proportion(-2))
    &.meta
      text-align: center
      color: $medium
