// base16 Tomorrow (Light) for pygments

code
  @include mono
  background-color: $code-background
  border-radius: $corner-radius

div.highlight
  background-color: $code-background
  color: hsl(210, 6%, 12%)
  margin-bottom: 1rem
  padding: 1rem
  border-radius: $corner-radius
  @include mono
  pre
    overflow-x: scroll
    .hll
      background-color: hsl(0, 0%, 88%)
    .c
      color: hsl(120, 2%, 71%)
    .err
      color: hsl(0, 50%, 60%)
    .k
      color: hsl(286, 22%, 66%)
    .l
      color: hsl(25, 66%, 62%)
    .n
      color: hsl(210, 6%, 12%)
    .o
      color: hsl(172, 29%, 64%)
    .p
      color: hsl(210, 6%, 12%)
    .cm
      color: hsl(120, 2%, 71%)
    .cp
      color: hsl(120, 2%, 71%)
    .c1
      color: hsl(120, 2%, 71%)
    .cs
      color: hsl(120, 2%, 71%)
    .gd
      color: hsl(0, 50%, 60%)
    .ge
      font-style: italic
    .gh
      color: hsl(210, 6%, 12%)
      font-weight: bold
    .gi
      color: hsl(66, 39%, 57%)
    .gp
      color: hsl(120, 2%, 71%)
      font-weight: bold
    .gs
      font-weight: bold
    .gu
      color: hsl(172, 29%, 64%)
      font-weight: bold
    .kc
      color: hsl(286, 22%, 66%)
    .kd
      color: hsl(286, 22%, 66%)
    .kn
      color: hsl(172, 29%, 64%)
    .kp
      color: hsl(286, 22%, 66%)
    .kr
      color: hsl(286, 22%, 66%)
    .kt
      color: hsl(40, 81%, 70%)
    .ld
      color: hsl(66, 39%, 57%)
    .m
      color: hsl(25, 66%, 62%)
    .s
      color: hsl(66, 39%, 57%)
    .na
      color: hsl(208, 32%, 63%)
    .nb
      color: hsl(210, 6%, 12%)
    .nc
      color: hsl(40, 81%, 70%)
    .no
      color: hsl(0, 50%, 60%)
    .nd
      color: hsl(172, 29%, 64%)
    .ni
      color: hsl(210, 6%, 12%)
    .ne
      color: hsl(0, 50%, 60%)
    .nf
      color: hsl(208, 32%, 63%)
    .nl
      color: hsl(210, 6%, 12%)
    .nn
      color: hsl(40, 81%, 70%)
    .nx
      color: hsl(208, 32%, 63%)
    .py
      color: hsl(210, 6%, 12%)
    .nt
      color: hsl(172, 29%, 64%)
    .nv
      color: hsl(0, 50%, 60%)
    .ow
      color: hsl(172, 29%, 64%)
    .w
      color: hsl(210, 6%, 12%)
    .mf
      color: hsl(25, 66%, 62%)
    .mh
      color: hsl(25, 66%, 62%)
    .mi
      color: hsl(25, 66%, 62%)
    .mo
      color: hsl(25, 66%, 62%)
    .sb
      color: hsl(66, 39%, 57%)
    .sc
      color: hsl(210, 6%, 12%)
    .sd
      color: hsl(120, 2%, 71%)
    .s2
      color: hsl(66, 39%, 57%)
    .se
      color: hsl(25, 66%, 62%)
    .sh
      color: hsl(66, 39%, 57%)
    .si
      color: hsl(25, 66%, 62%)
    .sx
      color: hsl(66, 39%, 57%)
    .sr
      color: hsl(66, 39%, 57%)
    .s1
      color: hsl(66, 39%, 57%)
    .ss
      color: hsl(66, 39%, 57%)
    .bp
      color: hsl(210, 6%, 12%)
    .vc
      color: hsl(0, 50%, 60%)
    .vg
      color: hsl(0, 50%, 60%)
    .vi
      color: hsl(0, 50%, 60%)
    .il
      color: hsl(25, 66%, 62%)
