// General logo styles

svg.logo
  polygon
    &.left-face, &.right-under
      fill: lighten($accent, 20%)
    &.top
      fill: lighten($accent, 28%)
    &.right-face, &.left-under
      fill: $accent

@mixin logoExplode
  &.top
    -webkit-transform: translate3d(0, -10%, 0)
  &.left-face
    -webkit-transform: translate3d(-5%, 0, 0)
  &.right-face
    -webkit-transform: translate3d(5%, 0, 0)
  &.left-under
    -webkit-transform: translate3d(10%, 15%, 0)
  &.right-under
    -webkit-transform: translate3d(-10%, 15%, 0)
