nav.main
  background-color: $white
  overflow: hidden
  @include icons
  a
    display: block
    &:link, &:visited
      color: $purple-light
      text-shadow: shadow($white, $gray-lighter, 100)
    &:hover
      color: $purple-light
      text-shadow: shadow($white, $purple-lighter, 100)
      span
        width: 100px
        overflow: visible
    &:active
      text-shadow: none
    span
      @include sans
      display: inline-block
      width: 0
      overflow: hidden
