article
  header
    margin-top: 5rem
  .metadata
    text-transform: uppercase
    color: $medium

// .share-on-twitter
//   a
//     span
//       @include icons
//   .tweet-text
//     color: $light

// .social
//   text-align: center
//   margin-bottom: 1rem
//   a
//     @include icons
//     background-color: $accent
//     color: $white
//     border-radius: $corner-radius
//     padding: (proportion(0) * 1em)

.prev-next-posts
  @include cf
  margin-bottom: 5rem
  a
    &.previous
      float: left
    &.next
      float: right
    span
      @include icons
