// Typefaces

@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic|Merriweather:400,700,400italic,700italic")

@font-face
  font-family: "Bebas Neue Regular"
  src: url("BebasNeue-webfont.eot")
  src: url("BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("BebasNeue-webfont.woff") format("woff"), url("BebasNeue-webfont.ttf") format("truetype"), url("BebasNeue-webfont.svg#bebas_neueregular") format("svg")
  font-weight: normal
  font-style: normal

@mixin accent
  font-family: "Bebas Neue Regular", sans-serif// TODO: add stack
  font-weight: normal
  font-style: normal

@mixin sans($bold: false, $italic: false)
  font-family: "Ubuntu", sans-serif// TODO: add stack
  @if $bold == true
    font-weight: 700
  @else
    font-weight: 400
  @if $italic == true
    font-style: italic
  @else
    font-style: normal

@mixin serif($bold: false, $italic: false)
  font-family: "Merriweather", serif// TODO: add stack
  @if $bold == true
    font-weight: 700
  @else
    font-weight: 400
  @if $italic == true
    font-style: italic
  @else
    font-style: normal

// Base

body
  @include serif
  font-size: $base-font-size
  line-height: $base-line-height
  color: $darker-gray

// Headings

h1,
h2,
h3
  @include sans(true)

h1
  font-size: $large-heading-size
  line-height: ($base-line-height * 2)

h2
  font-size: ($large-heading-size * $proportion)
  line-height: ($base-line-height * 2)

h3
  font-size: ($large-heading-size * $proportion * $proportion)
  line-height: ($base-line-height * 2)

h1, h2, h3
  margin: 0 0 ($base-line-height)
  small
    @include sans
    font-size: ($proportion * 100%)
    color: $light-gray
    text-shadow: 0 1px 1px $opaque-white

// Body copy

p
  margin: 0 0 $base-line-height

em
  font-style: italic

// Lists

ul, ol
  margin: 0 0 $base-line-height $base-line-height

ol
  list-style-type: decimal

ul
  list-style-type: disc

// Misc

.end-sign
  width: 1ex
  height: 1ex
  display: inline-block
  vertical-align: middle
  background-color: $main