// Colors

$accent: hsl(2, 75%, 64%) // Desaturated red
// $accent: hsl(12, 81%, 51%) // Burnt red
// $accent: hsl(299, 80%, 55%) // Purple/pink
// $accent: hsl(188, 72%, 50%) // Another blue
// $accent: hsl(161, 82%, 51%) // Sea green
// $accent: hsl(11, 80%, 55%) // Orange
// $accent: hsl(199, 90%, 40%) // Blue
// $accent: hsl(330, 90%, 48%) // Pink
// $accent: hsl(321, 40%, 36%) // Purple
// $accent: hsl(321, 40%, 50%) // Purple light
$dark: hsl(hue($accent), 7%, 14%)
$medium: hsl(hue($accent), 8%, 46%)
$light: hsl(hue($accent), 30%, 79%)
$white: hsl(0, 0%, 100%)

// $transparent-white: hsla(0, 0%, 100%, 0.15)
// $translucent-white: hsla(0, 0%, 100%, 0.5)
// $opaque-white: hsla(0, 0%, 100%, 0.85)
$black: hsl(0, 0%, 0%)
// $transparent-black: hsla(0, 0%, 0%, 0.15)
// $translucent-black: hsla(0, 0%, 0%, 0.5)
// $opaque-black: hsla(0, 0%, 0%, 0.85)

$twitter: hsl(212, 52%, 57%)
$github: hsl(0, 0%, 20%)
$linkedin: hsl(200, 100%, 36%)
$rss: hsl(24, 100%, 50%)

$code-background: hsl(10, 5%, 22%)
$shadow: hsl(0, 0%, 90%)

// $gray-light: hsl(0, 0%, 75%)
// $gray: hsl(0, 0%, 50%)
// $gray-dark: hsl(0, 0%, 25%)
// $gray-darker: hsl(0, 0%, 10%)

// Sizing

$base-unit: 18px
$base-proportion: 0.75

$column-count: 60
$container-width: ($base-unit * $column-count)

// Responsive breakpoints

$content-width-thin: 480px
$content-width-medium: 720px

// Other

$corner-radius: 2px
$active-top: 2px
