// Colors

$green-lighter: hsl(165, 62%, 85%)
$green-light: hsl(165, 80%, 70%)
$green: hsl(165, 82%, 32%)
$green-dark: hsl(165, 42%, 27%)
$green-darker: hsl(165, 93%, 16%)

$gold-lighter: hsl(48, 86%, 88%)
$gold-light: hsl(48, 94%, 73%)
$gold: hsl(48, 82%, 50%)
$gold-dark: hsl(49, 43%, 42%)
$gold-darker: hsl(48, 94%, 25%)

$purple-lighter: hsl(307, 64%, 85%)
$purple-light: hsl(307, 82%, 70%)
$purple: hsl(308, 82%, 34%)
$purple-dark: hsl(308, 43%, 29%)
$purple-darker: hsl(307, 93%, 17%)

$white: hsl(0, 0%, 100%)
$transparent-white: hsla(0, 0%, 100%, 0.15)
$translucent-white: hsla(0, 0%, 100%, 0.5)
$opaque-white: hsla(0, 0%, 100%, 0.85)
$black: hsl(0, 0%, 0%)
$transparent-black: hsla(0, 0%, 0%, 0.15)
$translucent-black: hsla(0, 0%, 0%, 0.5)
$opaque-black: hsla(0, 0%, 0%, 0.85)

$twitter: hsl(212, 52%, 57%)
$github: hsl(0, 0%, 20%)
$linkedin: hsl(200, 100%, 36%)
$rss: hsl(24, 100%, 50%)

$code-background: hsl(10, 5%, 22%)

$gray-lighter: hsl(0, 0%, 90%)
$gray-light: hsl(0, 0%, 75%)
$gray: hsl(0, 0%, 50%)
$gray-dark: hsl(0, 0%, 25%)
$gray-darker: hsl(0, 0%, 10%)


// Color list // TODO: need this anymore?

$colors: ("gr-ltr" $green-lighter, "gr-lt" $green-light, "gr" $green, "gr-dk" $green-dark, "gr-dkr" $green-darker, "go-ltr" $gold-lighter, "go-lt" $gold-light, "go" $gold, "go-dk" $gold-dark, "go-dkr" $gold-darker, "p-ltr" $purple-lighter, "p-lt" $purple-light, "p" $purple, "p-dk" $purple-dark, "p-dkr" $purple-darker, "wh" $white, "tpwh" $transparent-white, "tlwh" $translucent-white, "owh" $opaque-white, "bl" $black, "tpbl" $transparent-black, "tlbl" $translucent-black, "obl" $opaque-black, "twitter" $twitter, "github" $github, "linkedin" $linkedin, "rss" $rss)

// Sizing

$base-unit: 18px
$base-proportion: 0.75

$column-count: 60
$container-width: ($base-unit * $column-count)

// Responsive breakpoints

$breakpoint-one: 525px
$breakpoint-two: 800px

// Other

$corner-radius: 2px
