<footer class="main">
  {%- include mountains.html -%}
  <div class="body">
    <p><small>Made in Salt Lake City</small></p>
    <p>
      <a href="https://twitter.com/mjswensen">Twitter</a>
      &bull;
      <a href="https://github.com/mjswensen">Github</a>
      &bull;
      <a href="https://www.linkedin.com/in/mjswensen">LinkedIn</a>
      &bull;
      <a href="https://dev.to/mjswensen">Dev.to</a>
      &bull;
      <a href="/rss.xml">RSS</a>
    </p>
    <p>
      &copy; {{ site.time | date: "%Y" }} Matt Swensen
      &bull;
      <a href="https://github.com/mjswensen/mjswensen.com">Source</a>
      &bull;
      Site colors:
      <a class="theme-link light" href="https://themer.dev/?colors.dark.accent0=%23C65967&colors.dark.accent1=%23D3873B&colors.dark.accent2=%23E5BE31&colors.dark.accent3=%2397B55A&colors.dark.accent4=%2376A377&colors.dark.accent5=%236484B5&colors.dark.accent6=%23995785&colors.dark.accent7=%23AC7155&colors.dark.shade0=%232A2021&colors.dark.shade7=%23EDEBEE&colors.light.accent0=%23BA394A&colors.light.accent1=%23D3833F&colors.light.accent2=%23BA991A&colors.light.accent3=%2378992A&colors.light.accent4=%23509B6B&colors.light.accent5=%23485A9F&colors.light.accent6=%23813D72&colors.light.accent7=%23A1684F&colors.light.shade0=%23EDEBEE&colors.light.shade7=%232A2021&activeColorSet=light&calculateIntermediaryShades.dark=true&calculateIntermediaryShades.light=true">"Finger Paint" by Themer</a>
      <a class="theme-link dark" href="https://themer.dev/?colors.dark.accent0=%23C65967&colors.dark.accent1=%23D3873B&colors.dark.accent2=%23E5BE31&colors.dark.accent3=%2397B55A&colors.dark.accent4=%2376A377&colors.dark.accent5=%236484B5&colors.dark.accent6=%23995785&colors.dark.accent7=%23AC7155&colors.dark.shade0=%232A2021&colors.dark.shade7=%23EDEBEE&colors.light.accent0=%23BA394A&colors.light.accent1=%23D3833F&colors.light.accent2=%23BA991A&colors.light.accent3=%2378992A&colors.light.accent4=%23509B6B&colors.light.accent5=%23485A9F&colors.light.accent6=%23813D72&colors.light.accent7=%23A1684F&colors.light.shade0=%23EDEBEE&colors.light.shade7=%232A2021&activeColorSet=dark&calculateIntermediaryShades.dark=true&calculateIntermediaryShades.light=true">"Finger Paint" by Themer</a>
    </p>
  </div>
</footer>
