<header class="main">
  <nav>
    {% assign crumbs = page.url | split: '/' %}
    {% for crumb in crumbs %}
      {% unless forloop.last %}
        {%- capture url -%}
          {%- assign crumb_limit = forloop.index -%}
          {%- for crumb in crumbs limit: crumb_limit -%}
            {{ crumb | append: '/' }}
          {%- endfor -%}
        {%- endcapture -%}
        <a href="{{ url }}">
          {% if crumb == '' %}
            Home
          {% else %}
            {{ crumb | capitalize }}
          {% endif %}
        </a>
        <span class="divider">/</span>
      {% endunless %}
    {% endfor %}
  </nav>
</header>
