{% comment %}
<ul class="cf">
  {% for post in include.posts %}
  <li class="fl col-20 plr-1 pb-1 d-ib rs col-30_2 col-60_1">
    <div class="bg-go br-2">
      <a href="{{ post.url }}" class="fg-go-dkr td">
        <div class="p-1 bg-gr ff-sans ta-c br-t-2">
          <span class="fz-0 fg-gr-ltr">{{ post.date | date: "%a" }}</span>
          <span class="fg-wh">{{ post.date | date: "%-d %b %Y" }}</span>
          <span class="fz-0 fg-gr-ltr">{{ post.date | date: "%-I:%M" }}<span class="fz-0">{{ post.date | date: "%p" }}</span></span>
        </div>
        <div class="p-1">
          <img src="{{ post.thumbnail }}" alt="{{ post.title }}" class="d-b w-100 mb-1 br-2">
          <h3 class="ff-sans fw-b fz-2 mb-1">{{ post.title }}</h3>
          <p class="ff-serif fs-i mb-1">{{ post.excerpt | strip_html }}</p>
          <div class="ff-serif fg-go-dk">Read Time <span class="fl-r">{{ post.content | size | divided_by: 900 | append: ' min' }}</span></div>
        </div>
      </a>
    </div>
  </li>
  {% endfor %}
</ul>
{% endcomment %}

<ul class="postlist">
  {% for post in site.posts limit:include.limit %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <p>{{ post.excerpt }}</p>
    <div class="metadata">
      <time datetime="{{ post.date }}">{{ post.date | date: "%-d %b %Y" }}</time>
      &bull;
      Read time: {{ post.content | size | divided_by: 900 | append: ' min' }}
    </div>
  </li>
  {% endfor %}
</ul>
