<div class="ff-sans">
  <div class="mb-1">
    <img src="http://www.gravatar.com/avatar/70ec9ada3c51e6c0a83e19b3ba980ce4?s=480" alt="Matt Swensen Avatar" class="br-round bdc-gr bdw-3 bds maw-100 col-px-15">
  </div>
  <p class="fg-gr-dkr mb-1">Hello, I'm passionate about programming the Web. I'm a husband, father, <a href="http://mormon.org" class="fg-p fg-p-lt-hov td">Mormon</a>, and JavaScripter/CSSer for <a href="http://www.lucid.co" class="fg-p fg-p-lt-hov td">Lucid Software</a>.</p>
  <p class="fg-gr-dkr"><a href="https://twitter.com/intent/user?user_id=287490115" class="fg-p fg-p-lt-hov td"><span class="ff-icons">&#xe600;</span> Follow me on Twitter</a></p>
</div>
