footer
  background-color: $dark
  color: $medium
  padding: (rhythm() * 3) 1rem
  text-align: center
  @include fz(1)
  a
    &:link, &:visited
      color: $light
    &:hover, &:active
      color: $white
