header.main
  background-color: $accent
  a
    padding: 0.5rem 1rem
    display: inline-block
    &:link, &:visited
      background-color: $accent
    &:hover
      background-color: mix($white, $accent, 20%)
    &:active
      background-color: $white
    .logo
      width: 2em
      height: 2em
