.home
  text-align: center
  @include entityList
  .logo
    max-width: (proportion(-2) * 100%)
    max-height: 100% // https://bugs.webkit.org/show_bug.cgi?id=82489
    margin: 1rem 0
    polygon
      @include transit(0.4s)
    &:active
      polygon
        fill: $accent
        @include logoExplode
  .name
    @include fz(4)
.all-posts,
.all-projects,
.all-presentations
  float: right

section:last-child
  margin-bottom: (rhythm() * 3)
