// Proportion
//
// Example outputs with standard base proportion:
//   $pow => return
//    -4  =>  3.16
//    -3  =>  2.37
//    -2  =>  1.78
//    -1  =>  1.33
//     0  =>  1
//     1  =>  0.75
//     2  =>  0.56
//     3  =>  0.42
//     4  =>  0.32

@function proportion($base, $pow, $prop: $base-proportion)
  $mult: 1
  @if $pow > 0
    @for $j from 1 through $pow
      $mult: $mult * $prop
  @if $pow < 0
    @for $j from $pow through -1
      $mult: $mult / $prop
  @return ($mult * $base)

// Vertical rhythm

@function rhythm($inRems: true)
  $rhythmPow: -1
  @if $inRems
    @return proportion(1rem, $rhythmPow)
  @else
    @return proportion(1, $rhythmPow)


// Font size

@mixin fz($n)
  font-size: proportion(1em, $n)

// Grid

@mixin cols($n)
  width: ($n / $column-count * 100%)

// Clearfix

@mixin cf
  &:after
    content: ""
    display: table
    clear: both

// Transitions

@mixin transit($duration: 0.1s)
  -webkit-transition: all $duration
  transition: all $duration

// Commonly used sets of styles

@mixin entityList
  list-style-type: none
  padding-left: 0
  li
    margin: proportion(1rem, -4) 0
    .title
      @include fz(-1)
      display: block
      margin-bottom: proportion(1rem, 5)
      .title-detail
        @include fz(2)
        text-transform: uppercase
        padding: proportion(1em, 9) proportion(1em, 4)
        font-weight: $sans-font-weight-bold
        background-color: $light
        color: $white
        border-radius: $corner-radius
        position: relative
        top: proportion(-1em, 4)
    .description
      margin-bottom: proportion(1rem, 2)
    .metadata
      @include fz(1)
      text-transform: uppercase
      color: $medium
