// Fonts

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,700italic,300,300italic|Source+Code+Pro:400,700")

$sans-font-family: "Source Sans Pro", sans-serif
$sans-font-weight-normal: 300
$sans-font-weight-bold: 700

$mono-font-family: "Source Code Pro", monospace
$mono-font-weight-normal: 400
$mono-font-weight-bold: 700
