// Fonts

@import url("http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Ubuntu:300,700|Merriweather:300,300italic,900")

@mixin sans($bold: false)
  font-family: "Ubuntu", sans-serif
  @if $bold
    font-weight: 700
  @else
    font-weight: 300

@mixin serif($bold: false, $italic: false)
  font-family: "Merriweather", serif
  @if $bold
    font-weight: 900
  @else
    font-weight: 300
  @if $italic
    font-style: italic
  @else
    font-style: normal

@mixin mono($bold: false, $italic: false)
  font-family: "Ubuntu Mono", monospace
  @if $bold
    font-weight: 700
  @else
    font-weight: 400
  @if $italic
    font-style: italic
  @else
    font-style: normal
