---
title: mjswensen.com
layout: default
nav: presentations
---

<section class="col-px-45 mlr-a">
  <h1 class="fz-3 ff-sans fw-b ptb-3 fg-go-dkr ta-c">Presentations</h1>
  {% for page in site.pages %}
    {% if page.type == 'presentation' %}
    <a class="bg-p d-b td br-2 mb-1" href="{{ page.url }}">
      <hgroup class="p-1 bg-go br-t-2">
        <h2 class="fg-go-dkr fz-2 ff-sans fw-b">{{ page.title }} <small class="fg-go-dk fz-0">{{ page.date | date_to_string }}</small></h2>
        <h3 class="fg-go-dk fz-1 ff-sans">{{ page.for }}, {{ page.at }}</h3>
      </hgroup>
      <div class="p-1">
        {% if page.screenshotCount %}
          <div class="screenshots pos-r mb-1">
          {% for i in (1..page.screenshotCount) %}
            <img src="{{ page.screenshotDir }}{{ i }}.png" alt="{{ page.title }}" class="mw-100 d-b br-2{% if i == 1 %} pos-r zi-1{% else %} pos-a t l zi-0{% endif %}">
          {% endfor %}
          </div>
        {% endif %}
        <p class="fs-i fg-p-ltr">{{ page.description }}</p>
      </div>
    </a>
    {% endif %}
  {% endfor %}
</section>

<script>
  $(function() {
    function showScreenshot(jq, idx) {
      jq.find('img').eq(idx)
        .css('z-index', '1')
        .siblings().css('z-index', '0');
    }
    $('.screenshots').on('mousemove', function(e) {
      var $this = $(this),
        y = e.pageY - $this.offset().top,
        idx = Math.floor(y / ($this.height() / $this.children().size()));
      showScreenshot($this, idx);
    }).on('mouseout', function() {
      showScreenshot($(this), 0);
    });
  });
</script>
