---
title: Where's My JavaScript? A Closer Look at Loading Up Your Application
type: presentation
description: Managing JavaScript dependencies and loading modularized applications has always been a pain for JavaScript developers. This presentation combs through the different solutions to this problem, with emphasis on the new standard, ES6 Import/Export.
date: 2016-09-16 16:40:00
for: UtahJS 2016
at: O.C. Tanner Events Center
location: Sandy, UT
videoUrl: "https://youtu.be/8DK294AtdQc"
---
<!DOCTYPE html>
<html>
<head>
  <title>Where's My JavaScript?</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
  <link rel="stylesheet" href="css/github.css">
  <link rel="stylesheet" href="css/styles.css">
  {% if site.safe %}
  {% include analytics.html %}
  {% endif %}
</head>
<body>
  <div id="impress">

    <div id="title" class="step" data-x="-900" data-y="100" data-z="-60" data-scale="0.33">
      <h1>Where's My JavaScript?</h1>
      <span class="subtitle">A Closer Look at Loading Up Your Application</span>
    </div>
    <!--
    * As the web has grown over the last 20 years, so have JavaScript applications. It's no surprise that source code needs to be modularized; unfortunately, the JavaScript language and web platform initially didn't design a mechanism for managing and loading modules. Over the years, we've come up with a number of solutions to that problem. Let's take a look at the main ones.
    -->

    <div id="script-tags" class="script-tags primary step" data-x="-900" data-y="800" data-z="-40" data-scale="1.2">
      <h2>Managed <code>&lt;script&gt;</code> Tags</h2>
      <div class="snippet">
        <span class="title">index.html</span>
{% highlight html %}
<script src="lib/dependency.js"></script>
<script src="app/module.js"></script>
<script src="app/main.js"></script>
{% endhighlight %}
      </div>
      <ul>
        <li><strong>advantages:</strong> minimal dev tooling setup</li>
        <li><strong>disadvantages:</strong> not scalable (global namespace, managing dependencies manually)</li>
      </ul>
    </div>
    <!--
    * The scripts execute in the order that they are declared in the HTML, but they can be downloaded in parallel.
    * What are the advantages to manually-managed script tags?
      * Simplicity for small projects (tooling, learning curve, etc.)
    * What are the disadvantages?
      * Maintaining a long list of modules gets unwieldy.
      * Making the user download hundreds of small files is currently an anti-pattern.
      * All your code lives in the global namespace.
    -->

    <div id="calcdeps" class="script-tags implementation step" data-x="-559.2" data-y="991.7" data-z="100" data-rotate-x="-60" data-scale="0.4">
      <h2>Google Closure's calcdeps.py</h2>
      <ul>
        <li>calculates dependencies and can create an ordered list of <code>script</code> tags.</li>
      </ul>
      <div class="snippet">
      	<span class="title">person.js</span>
{% highlight javascript %}
goog.provide('example.model.Person');
example.model.Person = function() { ... };
{% endhighlight %}
      </div>
      <div class="snippet">
        <span class="title">people.js</span>
{% highlight javascript %}
goog.provide('example.model.People');
goog.require('example.model.Person');
example.model.People = function() {
  this.mainPerson = new example.model.Person();
};
{% endhighlight %}
      </div>
    </div>
    <!--
    * The nice thing about the calcdeps script is that it can manage the order of your scripts for you.
    * Notice that the code still lives in the global namespace.
    * At this point you are introducing a build step, and there are plenty of other options.
    -->

    <div id="commonjs" class="commonjs primary step" data-x="500" data-y="640" data-scale="0.8">
      <h2>CommonJS</h2>
      <div class="snippet">
        <span class="title">helper.js</span>
{% highlight js %}
module.exports = function() { ... };
{% endhighlight %}
      </div>
      <div class="snippet">
        <span class="title">server.js</span>
{% highlight js %}
const helper = require('path/to/helper');
{% endhighlight %}
      </div>
      <ul>
        <li>developed primarily for execution on the server</li>
        <li><strong>advantages:</strong> Node implementation integrates well with npm</li>
        <li><strong>disadvantages:</strong> it's a global API rather than a standardized language construct, and therefore doesn't automatically scale to other platforms</li>
      </ul>
    </div>
    <!--
    * What are the advantages of CommonJS?
      * The code isn't in the global namespace anymore, but this is more of a feature of the runtime than a specification of the language at this point.
      * On the Node.js platform, `require` knows to check your node_modules folder, which is where npm puts your dependencies.
    * What are the disadvantages?
      * It doesn't play nicely with the browser; `require` needs to be synchronous, which means that code needs to be already loaded somewhere.
      * Modules need to be wrapped in the browser to emulate local scope.
    -->

    <div id="nodejs" class="commonjs implementation step" data-x="727.2" data-y="767.8" data-z="80" data-rotate-x="-60" data-scale="0.2">
      <h2>Node.js</h2>
      <ul>
        <li>see <a href="https://nodejs.org/dist/latest-v6.x/docs/api/modules.html">Node docs: "Modules"</a></li>
      </ul>
      <div class="snippet">
        <span class="title">webserver.js</span>
{% highlight js %}
const fs = require('fs');
{% endhighlight %}
      </div>
    </div>

    <div id="browserify" class="commonjs implementation step" data-x="727.2" data-y="787.8" data-z="80" data-rotate-x="-60" data-scale="0.2">
      <h2>Browserify</h2>
      <ul>
        <li>"<a href="http://browserify.org/">Browserify</a> lets you require('modules') in the browser by bundling up all of your dependencies."</li>
      </ul>
    </div>

    <div id="amd" class="amd primary step" data-x="500" data-y="1220" data-scale="0.8">
      <h2>AMD (Asynchronous Module Definition)</h2>
      <div class="snippet">
        <span class="title">dep1.js</span>
{% highlight js %}
define(function() { ... });
{% endhighlight %}
      </div>
      <div class="snippet">
        <span class="title">app.js</span>
{% highlight js %}
require(['dep1', 'dep2'], function(dep1, dep2) { ... });
{% endhighlight %}
      </div>
      <ul>
        <li>developed primarily for the browser</li>
        <li><strong>advantage/disadvantage:</strong> uses JS to load JS (rather than at the engine level)</li>
      </ul>
    </div>
    <!--
    * Module IDs are paths to files.
    * AMD solves the global scope problem by wrapping everything in functions. Unfortunately this means wonky syntax, strange for beginners especially.
    * Rather than relying on the engine to load things, it uses vanilla JS to load JS.
      * This is nice because it's automatically portable to other systems, so long as there are implementations available for `define` and `require` in the global namespace.
      * It's also a little strange... it dynamically creates HTML `<script>` tags (this functionality is called a "script loader") to load things on demand. This behavior really does belong at the engine level.
    * Another advantage is that it can load up your application small bits at a time, in reverse order than the managed script tags approach. If a module is never required, it never gets loaded.
    -->

    <div id="requirejs" class="amd implementation step" data-x="727.2" data-y="1347.8" data-z="80" data-rotate-x="-60" data-scale="0.2">
      <h2>RequireJS</h2>
      <ul>
        <li>implements <code>define</code> and <code>require</code> to asynchronously request files from the server (based on paths you define in dependency list, or in config)</li>
      </ul>
    </div>

    <div id="umd" class="umd primary step" data-x="1400" data-y="800" data-z="-20" data-scale="2.5">
      <h2>UMD (Universal Module Definition)</h2>
      <div class="content">
        <ul>
          <li>developed to unify the browser and the server</li>
          <li>supports both AMD and CommonJS modules</li>
          <li>the way it works is essentially passing your module to an IIFE that determines the environment to produce the appropriate type of module</li>
        </ul>
      </div>
    </div>
    <!--
    * UMD is not really anything new syntax-wise; its implementations just provide a way to use AMD and CommonJS together (and therefore on any platform).
    -->

    <div id="webpack" class="umd implementation step" data-x="2110" data-y="1199.375" data-z="250" data-rotate-x="-60" data-scale="0.625">
      <h2>webpack</h2>
      <ul>
        <li>module bundler</li>
        <li>supports both AMD modules and CommonJS modules</li>
        <li>can be customized via plugin ecosystem</li>
      </ul>
    </div>

    <div id="systemjs" class="umd implementation step" data-x="2110" data-y="1261.875" data-z="250" data-rotate-x="-60" data-scale="0.625">
      <h2>SystemJS</h2>
      <ul>
        <li>module loader</li>
        <li>supports ES6 modules, AMD modules, CommonJS modules, and even global scripts</li>
        <li>supports the browser and Node</li>
        <li>potential implementation for the internals of the ES6 module standard</li>
      </ul>
    </div>

    <div id="es6" class="es6 primary step" data-y="2800" data-z="40" data-scale="3">
      <h2>ES6 Modules</h2>
      <div class="snippet">
        <span class="title">named.js</span>
{% highlight js %}
export const foo = 100;
export function bar(a, b) { return a + b; }
{% endhighlight %}
      </div>
      <div class="snippet">
        <span class="title">default.js</span>
{% highlight js %}
export default class Baz { ... }
{% endhighlight %}
      </div>
      <div class="snippet">
        <span class="title">app.js</span>
{% highlight js %}
import { foo, bar } from 'named';
import Baz from 'default'; // name doesn't have to match
{% endhighlight %}
      </div>
      <ul>
        <li>the standard</li>
        <li>to be implemented by all JS engines</li>
      </ul>
    </div>
    <!--
    * The default export simply allows for a more compact syntax (don't need to explictly bind to a different name).
    * One disadvantage is that you have to specifiy the entire filepath. goog.require(), on the other hand, works more like Java packages (where namespace is a separate concept from filepath).
    * There are other convenience syntaxes as well, but these are the main ones.
    -->

    <div id="babel" class="es6 implementation step" data-x="852" data-y="3279.25" data-z="300" data-scale="0.75" data-rotate-x="-60">
      <h2>Babel</h2>
      <ul>
        <li>compiles your ES6 Import/Export syntax (and all other ES6 features) into valid ES5.</li>
        <li><strong>still requires a CommonJS environment</strong></li>
      </ul>
      <div class="snippet">
        <span class="title">input-es6.js</span>
{% highlight js %}
export const foo = 100;
{% endhighlight %}
      </div>
      <div class="snippet">
        <span class="title">output-commonjs.js</span>
{% highlight js %}
"use strict";
Object.defineProperty(exports, "__esModule", {
  value: true
});
var foo = exports.foo = 100;
{% endhighlight %}
      </div>
    </div>
    <!--
    * By default, compiles to CommonJS (Node.js; SystemJS/webpack).
    * It can also compile to AMD via plugin, if desired.
    -->

    <div id="typescript" class="es6 implementation step" data-x="852" data-y="3354.25" data-z="300" data-scale="0.75" data-rotate-x="-60">
      <h2>TypeScript</h2>
      <ul>
        <li>supports all ES6 features, as well as type annotations</li>
        <li><strong>still requires an AMD implementation</strong></li>
      </ul>
      <div class="snippet">
        <span class="title">input-es6.js</span>
{% highlight js %}
export const foo = 100;
{% endhighlight %}
      </div>
      <div class="snippet">
        <span class="title">output-amd.js</span>
{% highlight js %}
define(["require", "exports"], function (require, exports) {
    "use strict";
    exports.foo = 100;
});
{% endhighlight %}
      </div>
    </div>
    <!--
    * Compiles to AMD by default, or it can be configured to compile to CommonJS, UMD, or ES6.
    * You can also use tsickle to compile it to Closure-compilable JS!
    -->

    <div id="moving-forward" class="step" data-x="2600" data-y="2600" data-z="60" data-scale="1.2">
      <h2>Moving forward</h2>
      <h3>...in the browser</h3>
      <ul>
        <li>transpile ES6 modules with <a href="https://babeljs.io/">Babel</a> or <a href="https://www.typescriptlang.org/">TypeScript</a></li>
        <li>load and bundle them with <a href="https://github.com/systemjs/systemjs">SystemJS</a> or <a href="http://rollupjs.org/">rollup.js</a></li>
      </ul>
      <h3>...on the server</h3>
      <ul>
        <li>ES6 syntax with <span class="strike">.mjs</span> .js extension + package.json</li>
        <li>(use Babel/TS if you need more ES6 than Node.js already supports)</li>
      </ul>
    </div>
    <!--
    * Dave Herman, Yehuda Katz, Caridy Patiño wrote "In defense of dot JS"
    -->

    <div id="http2" class="step" data-x="2100" data-y="3300" data-z="80" data-rotate-z="-90" data-scale="0.5">
      <h2>HTTP/2</h2>
      <ul>
        <li>requests will be relatively cheaper, as servers can push multiple resources upon initial request</li>
        <li>bundling JS into a large blob, therefore, might be suboptimal</li>
      </ul>
    </div>
    <!--
    * Currently we use webpack/CC to bundle into one huge blob.
    * Since data transfer can more easily be parallelized, it may be faster to send down many small modules rather than one large one.
    -->

    <div id="overview" class="step" data-x="600" data-y="1900" data-z="-80" data-scale="6.25"></div>
    <!--
    * Thanks! Slides are available online if desired.
    * Twitter handle is same as domain name.
    -->

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/impress.js/0.5.3/impress.min.js"></script>
  <script>impress().init();</script>
</body>
</html>

