<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="author" href="https://www.google.com/+MatthewSwensen">
    <link rel="icon" type="image/png" href="/favicon.png">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  </head>
  <body class="ff-serif">
    <section class="main">
      {% include header.html %}
      {% include navigation.html %}
      {{ content }}
      {% include footer.html %}
    </section>
    <script src="/css/fonts/icons/liga.js"></script>
    {% if site.safe %}
    {% include analytics.html %}
    {% endif %}
  </body>
</html>
