<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="author" href="https://www.google.com/+MatthewSwensen">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  </head>
  <body class="ff-serif">
    <section class="main">
      {% include header.html %}
      {% include navigation.html %}
      {{ content }}
      {% include footer.html %}
    </section>
    <script>
    $(function() {
      var doc = $(document),
        scroller = $('#scroller');
      $(window).on('scroll', function() {
        var pos = doc.scrollTop() / -3;
        scroller.css('background-position-y', pos + 'px');
      });
    });
    </script>
    {% if site.safe %}
    {% include analytics.html %}
    {% endif %}
  </body>
</html>
