<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    {% include header.html %}
    <hr class="top">
    <hr class="bottom">
    {% include navigation.html %}
    <hr class="top">
    <hr class="bottom">
    <section class="fixed">
      {{ content }}
    </section>
    <hr class="top">
    <hr class="bottom">
    {% include footer.html %}
  </body>
</html>
