---
layout: default
---

<div class="ptb-10 plr-1 ta-c ff-sans rs ptb-1_2" style="background: linear-gradient(hsla(308, 82%, 34%, 0.75), hsla(308, 82%, 34%, 0.75)), url({{ page.background }}); background-size: cover;">
  <h1 class="fz-5 fw-b"><span class="plr-1 br-2 fg-wh">{{ page.title }}</span></h1>
  <small class="p-1 mt-1 d-ib fw fz-1 br-2 fg-wh">{{ page.date | date: "%-d %b %Y" }} &bull; Read time {{ page.content | size | divided_by: 900 | append: ' min' }}</small>
</div>

{{ content }}

<div class="ff-sans bg-gr-dk cf">
  {% if page.previous.url %}
  <a href="{{ page.previous.url }}" class="fl d-ib p-1 td fg-wh bg-gr-dkr-hov"><span class="ff-icons">previous</span> {{ page.previous.title }}</a>
  {% endif %}
  {% if page.next.url %}
  <a href="{{ page.next.url }}" class="fl-r d-ib p-1 td fg-wh bg-gr-dkr-hov">{{ page.next.title }} <span class="ff-icons">next</span></a>
  {% endif %}
</div>
